α&mainω
<script>
    var type = "plural-nominativ" // or any other
    var isFront = true
</script>
α&scriptω

---

α&mainω
<script>
    var type = "plural-nominativ" // or any other
    var isFront = false
</script>
α&scriptω
