α&mainω
<script>
    let type = "plural-nominativ" // or any other
    let isFront = true
</script>
α&scriptω

---

α&mainω
<script>
    let type = "plural-nominativ" // or any other
    let isFront = false
</script>
α&scriptω
