α&mainω
!!&footer??
<script>
    var type = "%%TYPE%%"
    var isFront = true
</script>
α&scriptω

---

α&mainω
!!&footer??
<script>
    var type = "%%TYPE%%"
    var isFront = false
</script>
α&scriptω
